<div class="w-full h-full flex items-center px-4 py-2 md:px-8 md:py-4">
	<a routerLink="/" class="w-1/3 flex justify-start items-center gap-1 lg:gap-4">
		<img [src]="'images/logos/lynx-logo.png'" class="h-[36px] lg:h-[56px]" alt="logo" />
		<p class="font-medium text-lg lg:text-2xl text-font-primary">LYNX</p>
	</a>
	<div class="w-1/3 flex justify-center items-center">
		@let sessionScore = multiplayerService.sessionScore();
		@if (sessionScore !== null && sessionScore !== undefined && sessionScore.score >= 0) {
			<div class="dropdown dropdown-bottom dropdown-center text-white">
				<div tabindex="0" role="button" class="btn m-1">Score</div>
				<ul tabindex="0" class="dropdown-content menu bg-my-glass rounded-box z-[999] w-52 p-2 shadow-sm">
					<li><a>Session Score</a></li>
					<li>
						<a class="text-lg text-green-500">{{ sessionScore.score }}</a>
					</li>
				</ul>
			</div>
		}
	</div>
	<div class="w-1/3 flex justify-end items-center">
		@let letPlayer = player();
		@if (letPlayer) {
			<div class="dropdown dropdown-end">
				<div tabIndex="0" role="button" class="flex justify-end items-center gap-2 pl-2 cursor-pointer">
					<p class="font-normal text-sm lg:text-lg text-font-primary">
						{{ letPlayer.name }}
					</p>
					<img [src]="'images/logos/profile-image-sample.svg'" class="h-[36px] lg:h-[56px]" alt="logo" />
				</div>
				<span tabindex="0" class="dropdown-content menu bg-my-glass z-[100] w-full p-2 shadow rounded-b-lg">
					@if (letPlayer.role === Role.ADMIN) {
						<p
							class="font-semibold text-sm lg:text-lg text-font-primary p-2 cursor-pointer hover:bg-my-glass hover:rounded-sm"
							(click)="manageWords()"
							(keyup)="manageWords()"
							role="button"
							tabindex="1">
							Manage
						</p>
					}
					<p
						class="font-semibold text-sm lg:text-lg text-font-primary p-2 cursor-pointer hover:bg-my-glass hover:rounded-sm"
						(click)="logout()"
						(keyup)="logout()"
						role="button"
						tabindex="0">
						Logout
					</p>
				</span>
			</div>
		}
	</div>
</div>
