<div class="w-full h-full flex justify-between items-center">
	<a routerLink="/" class="flex justify-start items-center gap-1 lg:gap-4">
		<img [ngSrc]="'images/logos/lynx-logo.svg'" alt="logo" width="55" height="71" priority />
		<p class="font-medium text-lg lg:text-2xl text-font-primary">LYNX</p>
	</a>
	@if (player()) {
		<div class="dropdown dropdown-end">
			<div tabIndex="0" role="button" class="flex justify-end items-center gap-2 pl-2 cursor-pointer">
				<p class="font-normal text-sm lg:text-lg text-font-primary">
					{{ player()?.name }}
				</p>
				<img [ngSrc]="'images/logos/profile-image-sample.svg'" alt="logo" width="56" height="56" priority />
			</div>
			<span tabindex="0" class="dropdown-content menu bg-my-glass z-[100] w-full p-2 shadow rounded-b-lg">
				<p class="font-semibold text-sm lg:text-lg text-font-primary p-2">
					Score:
					<span class="text-green-500">
						{{ player()?.score ?? 0 }}
					</span>
				</p>
				<p class="font-semibold text-sm lg:text-lg text-font-primary p-2 cursor-pointer hover:bg-my-glass hover:rounded-sm" (click)="logout()" (keyup)="logout()" role="button" tabindex="0">
					Logout
				</p>
			</span>
		</div>
	}
</div>
