<div class="w-full h-full flex justify-between items-center">
	<a routerLink="/" class="flex justify-start items-center gap-1 lg:gap-4">
		<img [ngSrc]="'images/logos/lynx-logo.svg'" alt="logo" width="55" height="71" priority />
		<p class="font-medium text-lg lg:text-2xl text-font-primary">LYNX</p>
	</a>
	<div class="dropdown dropdown-end">
		<div tabIndex="{0}" role="button" class="flex justify-end items-center gap-2 pl-2 cursor-pointe">
			<p class="font-normal text-sm lg:text-lg text-font-primary">
				<!--            {player?.name}  TODO show player's name here-->
			</p>
			<img [ngSrc]="'images/logos/profile-image-sample.svg'" alt="logo" width="56" height="56" priority />
		</div>
		<span class="dropdown-content menu bg-my-glass z-[100] w-full p-2 shadow rounded-b-lg">
			<p class="font-semibold text-sm lg:text-lg text-font-primary">
				Score:
				<span class="text-green-500">
					<!--            {player?.score ?? 0} TODO show the player's score here-->
				</span>
			</p>
		</span>
	</div>
</div>
