@if (loaded()) {
	@if (error()) {
		<div class="h-full w-full flex justify-center items-center relative">
			<app-error-while-loading subTitle="There is something wrong with your invitation!" />
		</div>
	} @else {
		<div class="h-full w-full">
			<div class="w-full h-full py-6 md:py-8 md:px-12">
				<div
					class="w-full h-full bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl px-6 md:px-16 flex flex-col justify-start items-center gap-2 md:gap-6">
					<div class="w-full h-full flex flex-col justify-center items-start gap-4 py-4 overflow-y-scroll">
						<p class="w-full text-font-primary text-2xl md:text-3xl font-light text-center">Welcome to fun!</p>
						<p class="w-full text-font-primary text-base md:text-xl font-light text-center">
							Thank you for accepting the invitation! <br />Game time is set for
							<span class="font-bold">{{ scheduledGame()?.start_time | date: 'dd MMM' }}</span> at
							<span class="font-bold">{{ scheduledGame()?.start_time | date: 'hh:mm aaa' }}</span>
						</p>

						<div class="w-full flex justify-center items-center">
							<p class="w-2/3 text-center text-font-primary">We've sent you a countdown email. Open it anytime as you check on game time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
} @else {
	<div class="h-full w-full flex justify-center items-center relative">
		<app-loading />
	</div>
}
