<div class="w-full h-full flex flex-col justify-start items-center p-2 md:p-6 relative bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl">
	<div class="w-full h-fit flex justify-between items-center sticky top-0">
		<h1 class="text-font-primary text-lg md:text-2xl font-normal">Manage Words Database</h1>
	</div>
	<br />
	<div class="w-full h-fit flex justify-between items-center sticky top-0">
		<app-button text="Add" (whenClickedOutput)="openAddWordDialog()" />
		<app-text-field type="text" autoComplete="new-search" placeholder="Search" [control]="searchControl" class="w-fit" />
	</div>

	<div class="w-full h-4 min-h-4 flex flex-col justify-end bg-transparent">
		@if (pageState() === RequestState.LOADING) {
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		}
	</div>

	<div #intersectionRoot class="w-full h-fit flex flex-col justify-start items-start overflow-y-scroll relative">
		<table class="table text-white">
			<thead class="bg-my-burgundy sticky top-0 z-[1]">
				<tr class="text-lg">
					<th>Key</th>
					<th>Cue 1</th>
					<th>Cue 2</th>
					<th>Cue 3</th>
					<th>Cue 4</th>
					<th>Cue 5</th>
					<th class="text-center">Active</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>

			<tbody class="text-base">
				@for (word of wordsService.words; track $index) {
					<tr>
						<td>
							<span class="text-font-authSubtitle font-bold">{{ word.key }}</span>
						</td>
						<td [innerHTML]="word.cueWord1 | highlightKey: word.key : 'text-font-authSubtitle'"></td>
						<td [innerHTML]="word.cueWord2 | highlightKey: word.key : 'text-font-authSubtitle'"></td>
						<td [innerHTML]="word.cueWord3 | highlightKey: word.key : 'text-font-authSubtitle'"></td>
						<td [innerHTML]="word.cueWord4 | highlightKey: word.key : 'text-font-authSubtitle'"></td>
						<td [innerHTML]="word.cueWord5 | highlightKey: word.key : 'text-font-authSubtitle'"></td>
						<td class="text-center">{{ word.status ? '✅' : '❌' }}</td>
						<td class="text-center">
							<button mat-icon-button aria-label="Edit word" matTooltip="Edit word" (click)="openEditWordDialog(word)">
								<mat-icon class="text-font-authSubtitle">edit</mat-icon>
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<div #intersectionTarget class="w-full h-fit text-center py-2 text-white">
			@if (pageState() === RequestState.EMPTY) {
				Nothing more to load
			}
		</div>
	</div>
</div>
