@if (buttonType() === ButtonType.LINK) {
	<a
		[routerLink]="url()"
		class="w-fit min-w-24 h-8 md:h-9 lg:h-10 xl:h-12 px-4 md:px-5 lg:px-6 xl:px-7 text-wrap text-[#FFFFFF] text-sm md:text-base lg:text-lg xl:text-xl font-medium flex justify-center items-center gap-2 rounded-md hover:enabled:scale-[1.02] transition-all ease-in-out duration-200 disabled:transition-none disabled:opacity-60 disabled:bg-gray-400 backdrop-blur-md cursor-pointer disabled:cursor-not-allowed
    {{ class() }} {{ color() }}">
		{{ text() }}

		@if (iconName()) {
			@if (loading()) {
				<span class="loading loading-dots loading-md"></span>
			} @else {
				<mat-icon>{{ iconName() }}</mat-icon>
			}
		} @else if (loading()) {
			<span class="loading loading-dots loading-md"></span>
		}
	</a>
} @else {
	<button
		[type]="buttonType()"
		[disabled]="disabled() || loading()"
		(click)="whenClicked()"
		class="w-fit min-w-24 h-8 md:h-9 lg:h-10 xl:h-12 px-4 md:px-5 lg:px-6 xl:px-7 text-wrap text-[#FFFFFF] text-sm md:text-base lg:text-lg xl:text-xl font-medium flex justify-center items-center gap-2 rounded-md hover:enabled:scale-[1.02] transition-all ease-in-out duration-200 disabled:transition-none disabled:opacity-60 disabled:bg-gray-400 backdrop-blur-md cursor-pointer disabled:cursor-not-allowed
    {{ class() }} {{ color() }}">
		{{ text() }}

		@if (iconName()) {
			@if (loading()) {
				<span class="loading loading-dots loading-md"></span>
			} @else {
				<mat-icon>{{ iconName() }}</mat-icon>
			}
		} @else if (loading()) {
			<span class="loading loading-dots loading-md"></span>
		}
	</button>
}
