<div class="w-full h-full py-20 top-0 left-0 z-10 flex flex-col justify-start items-center gap-2 md:gap-6 relative overflow-y-scroll">
	<p class="font-semibold text-font-primary text-4xl md:text-7xl uppercase">Game Ended</p>
	@if (gameType() === GameType.SOLO || shouldShowRestartGameButton()) {
		<div class="flex flex-col justify-center items-center gap-4 md:gap-8 mt-4 md:mt-8">
			<p class="font-normal text-font-primary text-xl md:text-3xl text-center">Want to play again?</p>
			<app-button text="Play New Game" [buttonType]="ButtonType.BUTTON" (whenClickedOutput)="playNewGame()" />
		</div>
	}

	<div class="flex flex-col justify-center items-center gap-4 md:gap-8">
		<p class="font-semibold text-font-primary text-3xl md:text-5xl text-center">
			Your Total Score:&nbsp;
			<span class="text-my-orange">{{ myTotalScore }}</span>
		</p>
	</div>
	@if (gameType() === GameType.MULTIPLAYER) {
		<div class="flex flex-col justify-center items-center gap-4 md:gap-8">
			<table class="table text-white">
				<thead>
					<tr class="text-xl">
						<th>Rank</th>
						<th>Name</th>
						<th>Score</th>
						<!--						<th>Vote</th>-->
					</tr>
				</thead>

				<tbody class="text-lg">
					@for (score of getRankedScores(totalScore()); track score; let index = $index) {
						<tr>
							<td class="text-center">{{ index + 1 }}</td>
							<td>{{ score.name }}</td>
							<td class="text-my-orange text-center">{{ score.score }}</td>
							<!--							<td class="text-center">-->
							<!--								{{ score.vote !== undefined ? (score.vote ? '✅' : '❌') : '' }}-->
							<!--							</td>-->
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
</div>
