<div class="bg-my-glass backdrop-blur-md rounded-2xl w-full h-full py-20 top-0 left-0 z-10 flex flex-col justify-start items-center gap-2 md:gap-6 relative">
	<fa-icon
		[icon]="icons.faTimesCircle"
		class="text-my-glass text-2xl md:w-10 md:h-10 text-my-burgundy cursor-pointer flex justify-center items-center absolute right-2 top-2 md:right-4 md:top-4"
		matTooltip="Leave game"
		(click)="exitSoloPlay()" />
	<p class="font-semibold text-font-primary text-4xl md:text-7xl uppercase">Game Ended</p>
	<div class="flex flex-col justify-center items-center gap-4 md:gap-8">
		<p class="font-semibold text-font-primary text-3xl md:text-5xl text-center">
			Your Total Score:&nbsp;
			<span class="text-my-orange">{{ myTotalScore }}</span>
		</p>
	</div>
	@if (gameType() === GameType.MULTIPLAYER) {
		<div class="flex flex-col justify-center items-center gap-4 md:gap-8">
			<p class="font-bold text-font-primary text-xl md:text-3xl text-center">Rank</p>
			@for (score of rankedScores; track score; let index = $index) {
				<p class="font-medium text-font-primary text-xl md:text-3xl text-center">
					{{ index + 1 }}. {{ score.name }} (<span class="text-my-orange">{{ score.score }}</span
					>)
				</p>
			}
		</div>
	}
	@if (gameType() === GameType.SOLO || shouldShowRestartGameButton()) {
		<div class="flex flex-col justify-center items-center gap-4 md:gap-8 mt-4 md:mt-8">
			<p class="font-normal text-font-primary text-xl md:text-3xl text-center">Want to play again?</p>
			<app-button text="Play New Game" type="button" buttonType="button" (click)="playNewGame()" />
		</div>
	}
</div>
