<div class="flex justify-center items-center relative">
	<div
		class="h-[24vh] w-[24vh] lg:h-[300px] lg:w-[300px] flex justify-center items-center bg-my-glass backdrop-blur-md rounded-3xl animate-loading-spin transform-gpu"></div>
	<span class="absolute flex flex-col justify-center items-center gap-y-2">
		<p class="font-medium text-font-primary text-[20px] lg:text-[28px]">Loading...</p>
		<p class="font-light text-font-primary text-[12px] lg:text-[16px] w-[65%] text-center">
			{{ subTitle() }}
		</p>
	</span>
</div>
