<p mat-dialog-title>{{ this.data.type === 'ADD' ? 'Add' : 'Edit' }} Word</p>
<mat-dialog-content>
	<form class="w-96 md:w-[620px] flex gap-8" [formGroup]="wordDialogFormGroup" (ngSubmit)="wordDialogFormSubmit()">
		<div class="w-1/2 flex flex-col gap-2">
			<app-text-field [control]="formControls.key" placeholder="Key" appAutoCapitalize />
			<app-text-field [control]="formControls.cue1" placeholder="Cue 1" appAutoCapitalize />
			<app-text-field [control]="formControls.cue2" placeholder="Cue 2" appAutoCapitalize />
			<app-text-field [control]="formControls.cue3" placeholder="Cue 3" appAutoCapitalize />
			<app-text-field [control]="formControls.cue4" placeholder="Cue 4" appAutoCapitalize />
			<app-text-field [control]="formControls.cue5" placeholder="Cue 5" appAutoCapitalize />

			<mat-checkbox formControlName="status">Active Status</mat-checkbox>
		</div>
		<div class="w-1/2 flex flex-col justify-start items-start gap-4">
			<app-button
				text="Save"
				buttonType="button"
				type="submit"
				[disabled]="!wordDialogFormGroup.valid"
				[loading]="saveButtonStatus() === RequestState.LOADING" />
			@if (this.data.type === 'UPDATE') {
				<app-button
					text="Delete"
					buttonType="button"
					type="button"
					class="bg-my-burgundy rounded-lg"
					[loading]="deleteButtonStatus() === RequestState.LOADING"
					(click)="deleteWord()" />
			}
		</div>
	</form>
</mat-dialog-content>
