@if (pageState() === PageState.READY) {
	<div class="w-full h-full flex flex-col">
		<div class="w-full h-full bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl overflow-hidden">
			@if (roomState()?.gameStatus === 'PAUSED') {
				<div class="h-full w-full flex flex-col justify-center items-center gap-2 md:gap-6 absolute top-0 left-0 z-10">
					<fa-icon [icon]="icons.faPause" class="text-my-glass opacity-65 text-[320px] md:text-[400px] absolute self-center" />
					<p class="font-bold text-font-primary text-4xl md:text-7xl">Game Paused</p>
				</div>
			}
			<div [hidden]="roomState()?.gameStatus === 'PAUSED'" class="w-full h-full overflow-y-scroll rounded-2xl overflow-hidden">
				@if (roomState(); as state) {
					@switch (state.gameState) {
						@case ('START_COUNTDOWN') {
							<app-game-start [waitingCountdownTime]="state.waitingCountdownTime" />
						}
						@case ('ROUND_END') {
							<app-round-result
								[score]="getPlayerScore(state.score)"
								[winner]="state.winner"
								[word]="state.word"
								[waitingCountdownTime]="state.waitingCountdownTime"
								[gameType]="GameType.MULTIPLAYER" />
						}
						@case ('GAME_END') {
							<app-game-end
								[totalScore]="state.totalScore"
								[shouldShowRestartGameButton]="isPlayerGameOwner()"
								(playNewGameClicked)="startNewGame()"
								[gameType]="GameType.MULTIPLAYER" />
						}
						@case ('GAME_STARTED') {
							<app-game-play [round]="state.round" [totalRound]="state.totalRound" [time]="state.time" [word]="state.word" />
						}
					}
				}
			</div>
		</div>

		<div class="w-full h-16 flex justify-center items-center gap-4">
			<button
				class="w-fit h-10 md:h12 disabled:bg-gray-500 disabled:rounded-md relative"
				(click)="toggleMic()"
				[disabled]="micState() === MicState.LOADING"
				[matTooltip]="getMicButtonTooltip()">
				<div
					class="w-16 h-full px-2 flex justify-center items-center rounded-md hover:rounded-lg"
					[ngClass]="{
						'bg-white text-[#333537]': micState() === MicState.ON,
						'bg-[#f2b8b5] text-my-burgundy': micState() === MicState.MUTED || micState() === MicState.NOT_ALLOWED || micState() === MicState.ERROR,
					}">
					@if (micState() === MicState.LOADING) {
						<span class="loading loading-dots loading-md text-white"></span>
					} @else {
						@if (micState() === MicState.NOT_ALLOWED || micState() === MicState.ERROR) {
							<div class="w-5 h-5 aspect-square flex justify-center items-center p-2 rounded-full bg-my-orange absolute -top-0.5 -right-1">
								<fa-icon [icon]="icons.faExclamation" class="text-xs text-my-burgundy m-0" />
							</div>
						}
						<fa-icon
							[icon]="micState() === MicState.ON ? icons.faMicrophone : icons.faMicrophoneSlash"
							class="text-xl flex justify-center items-center" />
					}
				</div>
			</button>
			@if (isPlayerGameOwner()) {
				<button class="w-fit h-10 md:h12" (click)="toggleGameStatus()">
					<div class="w-16 h-full px-2 flex justify-center items-center rounded-md hover:rounded-lg text-white bg-my-glass backdrop-blur-md">
						<fa-icon
							[icon]="roomState()?.gameStatus === 'ONGOING' ? icons.faPause : icons.faPlay"
							class="text-xl flex justify-center items-center"
							matTooltip="Pause game" />
					</div>
				</button>
			}
			<button class="w-fit h-10 md:h12" (click)="exitGame()">
				<div class="w-16 h-full px-2 flex justify-center items-center rounded-md hover:rounded-lg text-white bg-[#dc362e]">
					<fa-icon [icon]="icons.faTimes" class="text-xl flex justify-center items-center" matTooltip="Exit game" />
				</div>
			</button>
		</div>
	</div>
} @else if (pageState() === PageState.LOADING) {
	<div class="h-full w-full flex justify-center items-center relative">
		<app-loading />
	</div>
} @else if (pageState() === PageState.ERROR && error) {
	<app-error-while-loading [subTitle]="error" />
}
