@if (pageState() === PageState.READY) {
	<div class="w-full h-full flex flex-col">
		<div class="w-full h-full bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl overflow-hidden">
			@if (roomState(); as state) {
				@switch (state.gameState) {
					@case ('START_COUNTDOWN') {
						<app-game-start [waitingCountdownTime]="state.waitingCountdownTime" />
					}
					@case ('ROUND_END') {
						<app-round-result
							[score]="getPlayerScore(state.score)"
							[winner]="state.winner"
							[word]="state.word"
							[waitingCountdownTime]="state.waitingCountdownTime"
							[gameType]="GameType.MULTIPLAYER" />
					}
					@case ('GAME_END') {
						<app-game-end
							[totalScore]="state.totalScore"
							[shouldShowRestartGameButton]="isPlayerGameOwner()"
							(playNewGameClicked)="startNewGame()"
							[gameType]="GameType.MULTIPLAYER" />
					}
					@case ('GAME_STARTED') {
						<app-game-play [round]="state.round" [totalRound]="state.totalRound" [time]="state.time" [word]="state.word" />
					}
				}
			}
		</div>

		<div #parentElement class="w-full h-16 flex justify-center items-center gap-4">
			<button
				class="w-fit h-12 disabled:bg-[#333537] disabled:rounded-md"
				(click)="toggleMic()"
				[disabled]="mic() === MicState.LOADING"
				[matTooltip]="mic() ? 'Turn off microphone (CTRL + m)' : 'Turn on microphone (CTRL + m)'">
				<div
					class="w-16 h-full px-2 flex justify-center items-center rounded-md hover:rounded-lg"
					[ngClass]="{
						'bg-white text-[#333537]': mic() === MicState.ON,
						'bg-[#f2b8b5] text-my-burgundy': mic() === MicState.MUTED || mic() === MicState.NOT_ALLOWED,
					}">
					@if (mic() === MicState.LOADING) {
						<span class="loading loading-dots loading-md"></span>
					} @else {
						<fa-icon
							[icon]="mic() === MicState.ON ? icons.faMicrophone : icons.faMicrophoneSlash"
							class="text-xl flex justify-center items-center" />
					}
				</div>
			</button>
			<button class="w-fit h-12" (click)="exitGame()">
				<div class="w-16 h-full px-2 flex justify-center items-center rounded-md hover:rounded-lg text-white bg-[#dc362e]">
					<fa-icon [icon]="icons.faTimes" class="text-xl flex justify-center items-center" matTooltip="Exit game" />
				</div>
			</button>
		</div>
	</div>
} @else if (pageState() === PageState.LOADING) {
	<div class="h-full w-full flex justify-center items-center relative">
		<app-loading />
	</div>
} @else if (pageState() === PageState.ERROR && error) {
	<app-error-while-loading [subTitle]="error" />
}
