<div class="h-full w-full absolute top-0 left-0 z-10">
	<div class="w-full h-full py-6 md:py-8 md:px-12">
		<div class="w-full h-full bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl py-4 px-6 md:py-8 md:px-12 flex flex-col justify-start items-center gap-2 md:gap-6">
			<div class="w-full flex justify-between items-center">
				<p class="text-font-primary text-lg md:text-2xl font-normal">Rules</p>
				<fa-icon [icon]="icons.faTimesCircle" class="text-my-glass text-2xl md:w-10 md:h-10 text-my-burgundy cursor-pointer flex justify-center items-center" matTooltip="Leave game" />
			</div>
			<div class="w-full h-full flex flex-col justify-start items-start gap-4 py-4 overflow-y-scroll">
				<p class="w-full text-font-primary text-lg md:text-2xl font-normal text-center">Lynx Game Rules</p>
				<p class="w-full text-font-primary text-sm md:text-lg font-light">
					Lorem ipsum dolor sit amet consectetur. In malesuada vivamus mattis consequat. Tortor sagittis pharetra hac enim cursus faucibus. In a convallis viverra sem eu est massa. Pharetra
					id molestie feugiat donec in sapien imperdiet venenatis malesuada. Diam sit eget at orci tincidunt leo laoreet aenean. Quam quis sed facilisis eros nisi euismod mattis est. Est
					nisl diam morbi adipiscing ut auctor consequat. Sit integer sed magna justo lacus posuere rhoncus.
					<br />
					Fringilla sit ultrices habitasse luctus amet nunc dignissim. Faucibus auctor fringilla id ut justo laoreet tortor sed lorem. Aliquam etiam ipsum elementum a et natoque pellentesque
					aenean varius. Aliquam dolor egestas viverra lacus vivamus placerat non malesuada. Duis urna suspendisse sit arcu enim nunc molestie velit. Morbi erat amet faucibus volutpat
					vulputate feugiat ultrices in. Erat tristique risus neque ut quis magna morbi. <br />
					Quis blandit lectus fermentum potenti. Adipiscing diam pellentesque turpis proin egestas sapien gravida mauris. Habitant ipsum mi eget gravida elit scelerisque malesuada morbi.
					Ipsum turpis venenatis turpis eu cursus iaculis fringilla sed. Consequat quisque iaculis aliquam scelerisque at vestibulum. Ut amet tincidunt proin urna etiam. Rhoncus etiam
					faucibus ultrices diam habitant eleifend. <br />
					Vel egestas nullam venenatis mollis viverra ut eget maecenas. Ut urna sed eu sit quis ipsum ultrices praesent sed. Aliquam eget accumsan potenti massa faucibus ultricies eleifend
					etiam. Eu id dignissim sed pharetra morbi cursus. Est ultrices maecenas eget mi nunc sit commodo et. Volutpat interdum quam nisl volutpat aliquam dapibus ut malesuada. Eu
					pellentesque diam laoreet faucibus integer ultricies vel ipsum dignissim. Morbi vestibulum sem semper et. Consequat posuere posuere egestas vestibulum faucibus nec nisi eget. Dolor
					habitasse massa pharetra in. Auctor ipsum sed aliquam eget lacus. Libero volutpat urna adipiscing euismod quam. Quam rhoncus lobortis ornare imperdiet urna diam. Lacus posuere
					venenatis vel tortor.
				</p>
			</div>
		</div>
	</div>
</div>
