<h2 mat-dialog-title>Do you want people to hear you in the game?</h2>
<mat-dialog-content>
	<p class="font-bold text-lg">Easy 3 steps to enable the microphone:</p>
	<ol class="list-decimal pl-6">
		<li class="font-medium">
			Go to the URL bar and click on the left most icon<img
				[src]="'images/enabling-permission-steps/url-bar-permission.jpg'"
				class="h-[36px] lg:h-[56px]"
				alt="logo" />
		</li>
		<li class="font-medium">Turn on the Microphone option<img [src]="'images/enabling-permission-steps/enable-mic.jpg'" class="w-full" alt="logo" /></li>
		<li class="font-medium">Reload the page<img [src]="'images/enabling-permission-steps/reload-page.jpg'" class="w-full" alt="logo" /></li>
	</ol>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button [mat-dialog-close]="">Ok</button>
</mat-dialog-actions>
