<input
	class="w-full h-full bg-gray-100 backdrop-blur-md py-2 px-3 md:py-3 md:px-4 rounded-[6px] md:rounded-lg font-normal text-black text-sm md:text-[16px] placeholder:text-font-secondary placeholder:font-light outline-none disabled:text-black"
	[autocomplete]="autoComplete()"
	[formControl]="control()"
	[type]="type()"
	[placeholder]="placeholder()"
	[autofocus]="autoFocus" />

@if (control().dirty && control().touched) {
	@if (control().errors?.['required']) {
		<p class="text-red-400">Field is required.</p>
	}

	@if (control().errors?.['minlength']) {
		<p class="text-red-400">
			The value you input is {{ control().errors?.['minlength']['actualLength'] }} characters long. It should be at least {{ control().errors?.['minlength']['requiredLength'] }} characters long.
		</p>
	}

	@if (control().errors?.['email']) {
		<p class="text-red-400">You must enter a valid email.</p>
	}

	@if (control().errors?.['min']) {
		<p class="text-red-400">Value too low.</p>
	}

	@if (control().errors?.['max']) {
		<p class="text-red-400">Value too high.</p>
	}

	@if (control().errors?.['pattern']) {
		<p class="text-red-400">Password must be at least 8 characters, must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number.</p>
	}

	@if (control().errors?.['noMatch']) {
		<p class="text-red-400">Passwords do not match.</p>
	}

	@if (control().errors?.['emailTaken']) {
		<p class="text-red-400">Email taken. Please try another email.</p>
	}
}
