<form class="w-full h-full" [formGroup]="createMultiplayerGameFormGroup" (ngSubmit)="createMultiplayerGameFormSubmit()">
	<div
		class="w-full h-full bg-my-glass backdrop-blur-md overflow-y-scroll rounded-2xl py-4 px-6 md:py-8 md:px-12 flex flex-col justify-start items-center gap-6">
		<div class="w-full flex justify-between items-center">
			<p class="text-font-primary text-xl md:text-2xl font-normal">Create Game Room</p>
			<fa-icon
				[icon]="icons.faTimesCircle"
				class="text-2xl md:w-10 md:h-10 text-my-red cursor-pointer flex justify-center items-center"
				matTooltip="Leave game"
				(click)="exit()" />
		</div>
		<div class="w-full flex justify-center items-center gap-x-4 text-font-primary">
			<input type="radio" formControlName="gameScheduleType" [defaultChecked]="true" [value]="ScheduledGameType.INSTANT" />Instant
			<input type="radio" formControlName="gameScheduleType" [value]="ScheduledGameType.FUTURE" />Scheduled
		</div>
		<div class="w-full flex flex-col md:flex-row gap-4 md:py-4">
			<div class="w-full flex flex-col justify-start gap-2 md:gap-4">
				<p class="text-font-primary text-lg font-light">Emails to Invite</p>
				@for (emailControl of emailsFormArray.controls; track emailControl; let index = $index) {
					<span class="w-full flex gap-3">
						<app-text-field type="email" autoComplete="new-email" placeholder="Email" [control]="emailControl" class="w-full" />
						@if (index > 0) {
							<fa-icon
								[icon]="icons.faTimesCircle"
								class="text-2xl md:w-10 md:h-10 text-my-red cursor-pointer flex justify-center items-center"
								matTooltip="Remove email"
								(click)="removeEmailField(index)" />
						}
					</span>
				}
				<app-button
					text="Add"
					(whenClickedOutput)="addNewEmailField()"
					[disabled]="emailsFormArray.controls.length >= MAXIMUM_NUMBER_OF_INVITE_EMAILS" />
			</div>
			<div class="flex flex-col gap-2 w-full md:flex-grow h-full">
				<p class="text-font-primary text-lg font-light">Email Content</p>
				<span class="w-full flex flex-col gap-3">
					<textarea
						class="w-full bg-gray-100 backdrop-blur-md rounded-lg py-2 px-4 text-black placeholder:text-font-secondary"
						placeholder="Enter the content of the invitation email to be sent"
						inputMode="text"
						formControlName="invitationText"
						rows="5"></textarea>
					@if (formControls.invitationText.errors?.['required']) {
						<p class="text-red-700 normal-case first-letter:uppercase font-light text-xs md:text-sm">Field is required.</p>
					}
				</span>

				@if (formControls.gameScheduleType.value === ScheduledGameType.FUTURE) {
					<p class="text-font-primary text-lg font-light">
						Game Date & Time&nbsp;
						<!--						@if (localDateAndTime()) {-->
						<!--							(Local Time: {{ localDateAndTime() }})-->
						<!--						}-->
					</p>
					<div class="flex justify-start items-center gap-2 md:gap:4">
						<input
							type="datetime-local"
							formControlName="gameDateAndTime"
							[min]="minStartTime"
							class="bg-gray-100 backdrop-blur-md py-2 px-3 md:py-3 md:px-4 rounded-[6px] md:rounded-lg font-normal text-black text-sm md:text-[16px] placeholder:text-font-secondary placeholder:font-light outline-none disabled:text-black" />
						<select
							class="w-full bg-gray-100 backdrop-blur-md py-2 px-3 md:py-3 md:px-4 rounded-[6px] md:rounded-lg font-normal text-black text-sm md:text-[16px] placeholder:text-font-secondary placeholder:font-light outline-none disabled:text-black"
							formControlName="timezone">
							<option value="" hidden>Select Timezone</option>
							@for (timezone of TIMEZONES | keyvalue; track timezone.key) {
								<option [value]="timezone.key">{{ timezone.value.name }}: {{ timezone.value.offset }}</option>
							}
						</select>
					</div>
				}

				<app-button
					text="Create Room"
					class="w-full"
					[buttonType]="ButtonType.SUBMIT"
					[disabled]="createMultiplayerGameFormGroup.invalid"
					[loading]="isCreatingGame()" />
			</div>
		</div>
	</div>
</form>

<dialog #gameCreatedModal class="modal">
	<div class="modal-box bg-[#0C740A50] backdrop-blur-md text-font-primary">
		<h3 class="font-bold text-lg">Success</h3>
		<p class="py-4">Game creation was a success. You will receive an email shortly.</p>
		<div class="modal-action">
			<form method="dialog">
				<button class="btn" type="button" (click)="exit()">Close</button>
			</form>
		</div>
	</div>
</dialog>
