<div class="w-full flex justify-center items-center">
	@if (isNaN(seconds())) {
		<div class="w-full flex justify-center items-center">
			<span class="loading loading-dots loading-lg text-white"></span>
		</div>
	} @else {
		<div class="grid auto-cols-max grid-flow-col gap-5 text-center text-font-primary">
			<div class="flex flex-col">
				<span class="countdown font-mono text-5xl">
					<span [style]="{ '--value': days() }"></span>
				</span>
				Days
			</div>
			<div class="flex flex-col">
				<span class="countdown font-mono text-5xl">
					<span [style]="{ '--value': hours() }"></span>
				</span>
				Hours
			</div>
			<div class="flex flex-col">
				<span class="countdown font-mono text-5xl">
					<span [style]="{ '--value': minutes() }"></span>
				</span>
				Min
			</div>
			<div class="flex flex-col">
				<span class="countdown font-mono text-5xl">
					<span [style]="{ '--value': seconds() }"></span>
				</span>
				Seconds
			</div>
		</div>
	}
</div>
