<main class="w-full h-full flex justify-center items-center px-6 overflow-y-scroll">
	<form
		[formGroup]="registerFormGroup"
		(ngSubmit)="registerFormSubmit()"
		class="w-full portrait:md:w-10/12 landscape:w-2/3 h-fit px-8 portrait:md:px-24 py-10 landscape:py-6 bg-my-glass backdrop-blur-md rounded-[32px] flex flex-col justify-start items-center gap-8 overflow-y-scroll">
		<div class="w-full flex flex-col landscape:flex-row justify-center items-center gap-4">
			<div class="w-full landscape:w-2/5 flex flex-col justify-center items-center">
				<img src="images/logos/lynx-logo.png" alt="lynx logo" class="w-40 md:w-60 lg:w-80 landscape:" />
				<h3 class="text-xl landscape:text-3xl text-white font-bold">Register</h3>
			</div>
			<div class="w-full landscape:w-3/5 flex flex-col justify-center items-center gap-4">
				<app-text-field placeholder="Name" type="text" [control]="formControls.name" class="w-full" />
				<app-text-field placeholder="Email" type="email" autoComplete="new-email" [control]="formControls.email" class="w-full" />
				<app-text-field placeholder="Password" type="password" autoComplete="new-password" [control]="formControls.password" class="w-full" />
				<app-text-field
					placeholder="Confirm Password"
					type="password"
					autoComplete="new-password"
					[control]="formControls.confirmPassword"
					class="w-full" />
				<app-button text="Register" [buttonType]="ButtonType.SUBMIT" [disabled]="registerFormGroup.invalid" />
			</div>
		</div>
		<div class="w-full flex justify-center items-center">
			<p class="text-font-primary text-[12px] md:text-sm font-light leading-none">Already have an account?&nbsp;</p>
			<a routerLink="/auth/login" class="text-font-authSubtitle text-[12px] md:text-sm font-light leading-none">Login here</a>
		</div>
	</form>
</main>
