@if (loaded()) {
	<main class="w-full h-full flex justify-center items-center px-6 overflow-y-scroll">
		<form
			class="w-full portrait:md:w-10/12 landscape:w-2/3 h-fit px-8 portrait:md:px-24 py-10 landscape:py-6 bg-my-glass backdrop-blur-md rounded-[32px] flex flex-col justify-center items-center gap-8"
			[formGroup]="loginFormGroup"
			(ngSubmit)="loginFormSubmit()">
			<div class="w-full flex flex-col landscape:flex-row justify-center items-center gap-4">
				<div class="w-full landscape:w-2/5 flex flex-col justify-center items-center">
					<img src="images/logos/lynx-logo.png" alt="lynx logo" class="w-40 md:w-60 lg:w-80 landscape:" />
					<h3 class="text-xl landscape:text-3xl text-white font-bold">Login</h3>
				</div>
				<div class="w-full landscape:w-3/5 flex flex-col justify-center items-center gap-4">
					<app-text-field [control]="formControls.email" placeholder="Email" type="email" class="w-full" />
					<app-text-field [control]="formControls.password" placeholder="Password" type="password" class="w-full" />
					<app-button text="Login" [buttonType]="ButtonType.SUBMIT" [disabled]="loginFormGroup.invalid" [loading]="loggingIn()" />
					<div class="w-full flex flex-col justify-center items-center gap-4">
						<div class="w-full relative text-center">
							<span class="relative z-10 px-3 text-gray-400">OR</span>
							<div class="absolute top-1/2 left-0 h-px w-2/5 -translate-y-1/2 transform bg-gray-400"></div>
							<div class="absolute top-1/2 right-0 h-px w-2/5 -translate-y-1/2 transform bg-gray-400"></div>
						</div>
						<button
							(click)="loginWithGoogle()"
							type="button"
							class="mt-2 flex py-2 w-full items-center justify-center gap-2 rounded bg-gray-800 text-gray-300 hover:bg-my-burgundy">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="20" height="20">
								<path
									fill="#FFC107"
									d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4 12.955 4 4 12.955 4 24s8.955 20 20 20 20-8.955 20-20c0-1.341-.138-2.65-.389-3.917"></path>
								<path
									fill="#FF3D00"
									d="m6.306 14.691 6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4 16.318 4 9.656 8.337 6.306 14.691"></path>
								<path
									fill="#4CAF50"
									d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44"></path>
								<path
									fill="#1976D2"
									d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002 6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917"></path>
							</svg>
							Google
						</button>
						<div class="w-full flex justify-center items-center">
							<p class="text-font-primary text-[12px] md:text-sm font-light leading-none">Don&apos;t have an account?&nbsp;</p>
							<a routerLink="/auth/register" class="text-font-authSubtitle text-[12px] md:text-sm font-light leading-none">Register here</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
} @else {
	<main class="h-full w-full flex justify-center items-center relative">
		<app-loading />
	</main>
}
