@if (store.pageState() === RequestState.READY) {
	<div class="w-full h-[calc(100%-64px)] flex gap-2">
		<div class="w-[90%] h-full">
			@if (store.gameState() === GameState.LOBBY) {
				<app-lobby />
			} @else {
				<app-multiplayer />
			}
		</div>
		<div class="w-[10%] h-full flex flex-col justify-start items-center gap-2">
			@for (player of store.participants(); track player.id) {
				<div class="w-full h-[calc(100%*1/8)] bg-my-glass backdrop-blur-md rounded-lg flex justify-center items-center relative">
					@if (player.muted) {
						<span class="w-6 flex justify-center items-center aspect-square rounded-full bg-[#f2b8b5] text-my-red p-1 m-1 absolute top-0 right-0">
							<fa-icon [icon]="icons.faMicrophoneSlash" class="text-xs" />
						</span>
					}
					<span
						class="w-16 h-16 aspect-square flex justify-center items-center rounded-full backdrop-blur-md p-1 m-1"
						[ngClass]="{ 'bg-my-blueGreen/60': player.speaking }">
						<p class="text-4xl text-center font-light text-white">{{ player.name | pickFirstLetters }}</p>
					</span>
					<p class="w-[80%] text-sm font-light text-white truncate absolute bottom-1 left-2">{{ player.name }}</p>
				</div>
			}
		</div>
	</div>

	<app-game-control />
} @else if (store.pageState() === RequestState.LOADING) {
	<div class="h-full w-full flex justify-center items-center relative">
		<app-loading />
	</div>
} @else if (store.pageState() === RequestState.ERROR) {
	<div class="h-full w-full flex justify-center items-center relative">
		<app-error-while-loading [subTitle]="store.error()" />
	</div>
}

<dialog #usernameModal class="modal">
	<form class="modal-box bg-my-glass backdrop-blur-md text-font-primary" [formGroup]="usernameFormGroup" (ngSubmit)="setUsernameInformation()">
		<h3 class="font-bold text-2xl">Welcome!</h3>
		<br />
		<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
			<legend class="fieldset-legend px-2 font-bold">Guest</legend>
			<p class="py-4">Choose a name to be used in the game:</p>
			<div class="w-full h-fit flex justify-start items-center gap-3">
				<app-text-field [control]="usernameFormGroup.controls.username" placeholder="Name" class="grow" />
				<button class="btn btn-sm md:btn-md" type="submit">Ok</button>
			</div>
		</fieldset>
		<div class="divider">OR</div>
		<button class="btn btn-md btn-block" type="button" (click)="goToLogin()">Login</button>
	</form>
</dialog>
